GAN Model to generate synthetic data

In [2]:
import numpy as np
import pandas as pd
import torch
from torch.nn import Module, Linear, LeakyReLU, Dropout, ReLU, Sequential, BatchNorm1d

In [3]:
device = "cuda" if torch.cuda.is_available() else "cpu"
print(f"Using {device} device")

Using cpu device

In [6]:
df = pd.read_csv("dataset/adult.csv")
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
df.info()

In [ ]:
class Transformer:

    def __init__(self, df):
        self.df = df

    def get_transformed_vectors():
        # Separate categorical and continuous columns
        num_cols = [col if col.dtype == ["int64", "float64"] else None for col in df.columns]

In [ ]:
class Generator(Module):
    
    def __init__(self):
        super(Generator, self).__init__()
        self.seq = Sequential(*seq)

    def forward(self, input):
        return self.seq(input)

In [ ]:
class Discriminator(Module):

    def __init__(self):
        super(Discriminator, self).__init__()
        self.seq = Sequential(*seq)
        
    def forward():
        return self.seq(input)

In [ ]:
class MyGAN():

    def __init__(self):
        super(MyGAN,self).__init__()
        #self.generator = 

    def fit(self, train_data, epochs=None):
        pass

    def sample(self):
        pass